$blue: #81b3d2;
$blue-border-bottom: #678fa8;
$blue-border-top: #9ac3db;
$blue-hover: #669ec0;
$blue-down: #5496bd;
$disabled: #e5e5e5;
$active: #766357;
$active-hover: #604e43;
$active-down: rgba(118, 99, 87, 0.3);
$control-video: #5c6870;
$lightgray: #eeeeee;
$gray-border: #dbdbdb;
$color-map: #f3f1ed;
$color-welcome: #d7e5f0;
$color-input: #f2f2f2;
$color-input-hover: #e5e5e5;
$color-input-down: #d5d5d5;
$color-input-icon: #e6e6e6;
$color-text: #333333;
$color-footer: #fefefe;

$tablet-width: 768px;
$desktop-width: 1200px;

$retina-dpi: 133dpi;
$retina-dppx: 1.5dppx;
