.copyright {
  display: flex;
  justify-content: center;
}

.copyright__text {
  font-size: 14px;
  line-height: 26px;
  margin-right: 12px;
}

.copyright__link {
  font-size: 0px;
}

.copyright__image {
  margin-top: -5px;
}
