.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header__logo {
  z-index: 2;

  order: 2;

  height: 56px;
}

.page-header__logo-img {
  display: block;
}

.page-header__general-nav {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .page-header {
    position: relative;
  }

  .page-header__logo {
    order: 0;

    position: absolute;

    top: 0;
    left: 50%;

    transform: translateX(-50%);
  }

  .page-header__logo-img {
    height: 83px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo-img {
    height: 96px;
    width: 188px;
  }
}
