.page-title {
  display: flex;
  justify-content: center;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: black;
}

@media (min-width: $tablet-width) {
  .page-title {
    font-size: 30px;
  }
}
