.sedona-description {
  display: flex;
  flex-wrap: wrap;
}

.sedona-description__title {
  font-size: 18px;
  line-height: 26px;
  color: black;
  text-align: center;

  padding-top: 43px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .sedona-description__title {
    font-size: 21px;

    padding-top: 53px;
    padding-right: 153px;
    padding-bottom: 10px;
    padding-left: 153px;
  }
}

@media (min-width: $desktop-width) {
  .sedona-description__title {
    width: 450px;

    padding-right: 0;
    padding-left: 0;
    margin: 0 auto;
  }
}
