.social__list {
  display: flex;

  list-style: none;

  margin: 0;
  padding: 0;
}

.social__item {
  &:not(:last-child) {
    margin-right: 6px;
  }
}

.social__link {
  display: flex;

  font-size: 0;
  background-color: $blue;

  width: 48px;
  height: 48px;

  &:hover {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-down;

    .social__icon {
      opacity: 0.3;
    }
  }
}

.social__icon {
  display: block;
  margin: auto;

  fill: white;

  &--twitter {
    width: 17.5px;
    height: 14.663px;
  }

  &--facebook {
    width: 8.672px;
    height: 18.944px;
  }

  &--youtube {
    width: 19.979px;
    height: 14.015px;
  }
}
