.video-player {
  position: relative;

  width: 320px;
}

.video-player__img {
  height: 201px;

  background-image: url("../img/video-mobile@1x.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
  }
}

.video-player__range {
  position: absolute;

  top: 156px;
  left: 20px;

  height: 45px;
  width: 280px;

  background-color: rgba(0, 0, 0, 0.6);

  &::before {
    content: "";

    position: absolute;

    top: 22px;
    left: 22px;

    height: 3px;
    width: 235px;

    background-color: rgba(255, 255, 255, 0.2);
  }

  &::after {
    content: "";

    position: absolute;

    top: 19px;
    left: 58px;

    height: 9px;
    width: 9px;

    background-color: white;

    border-radius: 50%;
  }
}

.video-player__control {
  position: relative;

  left: 20px;

  width: 280px;
  height: 66px;

  background-color: $color-input;
}

.video-player__icon {
  position: absolute;

  cursor: pointer;

  fill: $control-video;

  &--replay {
    top: 22px;
    left: 25px;

    width: 16px;
    height: 20px;
  }

  &--subtitles {
    top: 22px;
    left: 174px;

    width: 32px;
    height: 20px;
  }

  &--fullscreen {
    top: 22px;
    left: 237px;

    width: 20px;
    height: 20px;
  }

  &:hover {
    fill: $color-text;
  }

  &:active {
    fill: $color-text;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .video-player {
    width: 648px;
  }

  .video-player__img {
    height: 499px;

    background-image: url("../img/video-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  .video-player__range {
    top: 406px;
    left: 0;

    height: 93px;
    width: 100%;

    &::before {
      width: 389px;

      top: 44px;
      left: 93px;
    }

    &::after {
      top: 41px;
      left: 206px;
    }
  }

  .video-player__control {
    position: absolute;

    top: 406px;
    left: 0;

    height: 93px;
    width: 100%;

    background-color: transparent;
  }

  .video-player__icon {
    fill: white;

    &--replay {
      top: 35px;
      left: 35px;
    }

    &--subtitles {
      top: 35px;
      left: 524px;
    }

    &--fullscreen {
      top: 35px;
      left: 587px;
    }

    &:hover,
    &:active {
      fill: $gray-border;
    }
  }
}

@media (min-width: $desktop-width) {
  .video-player {
    width: 800px;
  }

  .video-player__img {
    background-image: url("../img/video-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }

  .video-player__range {
    &::before {
      width: 540px;
    }
  }

  .video-player__icon {
    &--subtitles {
      left: 675px;
    }

    &--fullscreen {
      left: 738px;
    }
  }
}
